/**
***************************************************************
* AUTHOR : CKavArt
* PROJECT : Thron - Creative One Page Template
* Purchase : https://themeforest.net/user/c-kav
*
* Copyright 2019-2020 CKavArt
* NOTE : This file licensed to CKavArt - https://themeforest.net/user/c-kav and it is strictly prohibited to copy or reuse it.
***************************************************************
*/
/**
*****************************************************************
* This file is licensed to CKavArt.
* It's not allowed to copy or reuse it Copyright CKavArt 2017-2018
* CKavArt : http://ckavart.com/
*****************************************************************
*/
/* CORE VARIABLE AND MIXINS
------------------------------------*/
.v-align {
  transform: translateY(-50%);
  top: 50%;
}
.c-align {
  transform: translateX(-50%);
  left: 50%;
}
/*.mr-mixin (@a, @i) when (@a = all) 		{ .mr-@{i} { margin: unit(@i, px);} }
.mr-mixin (@a, @i) when (@a = top) 		{ .mr-t-@{i} { margin-top: unit(@i, px); } }
.mr-mixin (@a, @i) when (@a = right) 	{ .mr-r-@{i}, .info-obj.img-r.g@{i} .info { margin-right: unit(@i, px); } }
.mr-mixin (@a, @i) when (@a = bottom) 	{ .mr-b-@{i}, .info-obj.img-t.g@{i} .img  { margin-bottom: unit(@i, px); } }
.mr-mixin (@a, @i) when (@a = left) 	{ .mr-l-@{i}, .info-obj.img-l.g@{i} .info { margin-left: unit(@i, px); } }
.mr-mixin (@a, @i) when (@a = tb)		{ .mr-tb-@{i} { margin-top: unit(@i, px); margin-bottom: unit(@i, px); } }
.mr-mixin (@a, @i) when (@a = lr)		{ .mr-lr-@{i} { margin-left: unit(@i, px); margin-right: unit(@i, px); } }*/
/*.pd-mixin (@a, @i) when (@a = all) 		{ .pd-@{i} { padding: unit(@i, px);} }
.pd-mixin (@a, @i) when (@a = top) 		{ .pd-t-@{i} { padding-top: unit(@i, px); } }
.pd-mixin (@a, @i) when (@a = right) 	{ .pd-r-@{i} { padding-right: unit(@i, px); } }
.pd-mixin (@a, @i) when (@a = bottom) 	{ .pd-b-@{i} { padding-bottom: unit(@i, px); } }
.pd-mixin (@a, @i) when (@a = left) 	{ .pd-l-@{i} { padding-left: unit(@i, px); } }
.pd-mixin (@a, @i) when (@a = tb)		{ .pd-tb-@{i} { padding-top: unit(@i, px); padding-bottom: unit(@i, px); } }
.pd-mixin (@a, @i) when (@a = lr)		{ .pd-lr-@{i} { padding-left: unit(@i, px); padding-right: unit(@i, px); } }*/
/*.wh-mixin (@a, @i) when (@a = wpx) 		{ .px-w@{i} { width: unit(@i, px); } }
.wh-mixin (@a, @i) when (@a = wmin-px) 	{ .min-px-w@{i} { min-width: unit(@i, px); } }*/
/*.wh-mixin (@a, @i) when (@a = hpx) 		{ .px-h@{i} { height: unit(@i, px); } }
.wh-mixin (@a, @i) when (@a = hmin-px) 	{ .min-px-h@{i} { min-height: unit(@i, px); } }*/
/* CORE VARIABLE AND MIXINS
------------------------------------*/
/* MANU LIGHT
------------------------------------*/
.main-head {
  /*----------  MOBILE MENU  ----------*/
}
.main-head .menu-item {
  /*----------  SUB MENU  ----------*/
}
.main-head .menu-item > a {
  color: #212121;
}
.main-head .menu-item > a:hover,
.main-head .menu-item.active > a {
  border-color: rgba(0, 0, 0, 0.1);
}
.main-head .menu-item .sub {
  background: #ffffff;
}
.main-head .menu-item > .sub li a {
  opacity: 0.6;
  color: #212121;
}
.main-head .menu-item > .sub li a:hover {
  opacity: 1;
}
.main-head .has-dropdown .dropdown,
.main-head .has-dropdown .sub {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}
.main-head .sub-handler {
  color: rgba(0, 0, 0, 0.4);
}
.main-head .open.m-nav {
  background-color: rgba(0, 0, 0, 0.03);
}
.main-head .open.m-nav .menu {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}
.main-head .open.m-nav .menu-item > a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.main-head .open.m-nav .menu-item > ul li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.main-head .open.m-nav .has-dropdown .dropdown,
.main-head .open.m-nav .has-dropdown .sub {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}
/* MENU DARK
------------------------------------*/
.main-head.dark {
  /*----------  MOBILE MENU  ----------*/
}
.main-head.dark .menu-item {
  /*----------  SUB MENU  ----------*/
}
.main-head.dark .menu-item > a {
  color: #ffffff;
}
.main-head.dark .menu-item > a:hover,
.main-head.dark .menu-item.active > a {
  border-color: rgba(255, 255, 255, 0.2);
}
.main-head.dark .menu-item .sub {
  background: #212121;
}
.main-head.dark .menu-item > .sub li a {
  opacity: 0.6;
  color: #ffffff;
}
.main-head.dark .menu-item > .sub li a:hover {
  opacity: 1;
}
.main-head.dark .has-dropdown .dropdown,
.main-head.dark .has-dropdown .sub {
  background: #212121;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}
.main-head.dark .sub-handler {
  color: rgba(255, 255, 255, 0.4);
}
.main-head.dark .open.m-nav {
  background-color: rgba(255, 255, 255, 0.03);
}
.main-head.dark .open.m-nav .menu {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}
.main-head.dark .open.m-nav .menu-item > a {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.main-head.dark .open.m-nav .menu-item > ul li a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.main-head.dark .open.m-nav .has-dropdown .dropdown,
.main-head.dark .open.m-nav .has-dropdown .sub {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  box-shadow: none;
}
/* STICKY HEADER
------------------------------------*/
.header-sticky {
  background-color: #ffffff !important;
}
.dark.header-sticky {
  background-color: #212121 !important;
}
@media (min-width: 200px) and (max-width: 991px) {
  .main-head {
    background-color: #ffffff !important;
  }
  .dark.main-head {
    background-color: #212121 !important;
  }
}
/* BUTTON COLORS
------------------------------------*/
.btn-default {
  background-color: transparent;
  border-color: #004c40;
  color: #004c40;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  background-color: #004c40;
  border-color: #004c40;
  color: #ffffff;
}
.solid.btn-default {
  border-color: #004c40;
  color: #ffffff;
}
.solid.btn-default:not([class*="bg-glass-"]) {
  background-color: #004c40;
}
.solid.btn-default:hover,
.solid.btn-default:focus,
.solid.btn-default:active,
.solid.btn-default.active {
  background-color: transparent;
  border-color: #004c40;
  color: #004c40;
}
.btn-primary {
  background-color: transparent;
  border-color: #8285f8;
  color: #8285f8;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #8285f8;
  border-color: #8285f8;
  color: #ffffff;
}
.solid.btn-primary {
  border-color: #8285f8;
  color: #ffffff;
}
.solid.btn-primary:not([class*="bg-glass-"]) {
  background-color: #8285f8;
}
.solid.btn-primary:hover,
.solid.btn-primary:focus,
.solid.btn-primary:active,
.solid.btn-primary.active {
  background-color: transparent;
  border-color: #8285f8;
  color: #8285f8;
}
.btn-secondary {
  background-color: transparent;
  border-color: #fec302;
  color: #fec302;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #fec302;
  border-color: #fec302;
  color: #ffffff;
}
.solid.btn-secondary {
  border-color: #fec302;
  color: #ffffff;
}
.solid.btn-secondary:not([class*="bg-glass-"]) {
  background-color: #fec302;
}
.solid.btn-secondary:hover,
.solid.btn-secondary:focus,
.solid.btn-secondary:active,
.solid.btn-secondary.active {
  background-color: transparent;
  border-color: #fec302;
  color: #fec302;
}
.btn-dark {
  background-color: transparent;
  border-color: #212121;
  color: #212121;
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active {
  background-color: #212121;
  border-color: #212121;
  color: #ffffff;
}
.solid.btn-dark {
  border-color: #212121;
  color: #ffffff;
}
.solid.btn-dark:not([class*="bg-glass-"]) {
  background-color: #212121;
}
.solid.btn-dark:hover,
.solid.btn-dark:focus,
.solid.btn-dark:active,
.solid.btn-dark.active {
  background-color: transparent;
  border-color: #212121;
  color: #212121;
}
.btn-light {
  background-color: transparent;
  border-color: #f1f1f1;
  color: #f1f1f1;
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  color: #212121;
}
.solid.btn-light {
  border-color: #f1f1f1;
  color: #212121;
}
.solid.btn-light:not([class*="bg-glass-"]) {
  background-color: #f1f1f1;
}
.solid.btn-light:hover,
.solid.btn-light:focus,
.solid.btn-light:active,
.solid.btn-light.active {
  background-color: transparent;
  border-color: #f1f1f1;
  color: #f1f1f1;
}
.btn-white {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #212121;
}
.solid.btn-white {
  border-color: #ffffff;
  color: #212121;
}
.solid.btn-white:not([class*="bg-glass-"]) {
  background-color: #ffffff;
}
.solid.btn-white:hover,
.solid.btn-white:focus,
.solid.btn-white:active,
.solid.btn-white.active {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.hov-btn-default:hover,
.solid.hov-btn-default:hover {
  background-color: #004c40;
  border-color: #004c40;
  color: #ffffff;
}
.hov-btn-primary:hover,
.solid.hov-btn-primary:hover {
  background-color: #8285f8;
  border-color: #8285f8;
  color: #ffffff;
}
.hov-btn-secondary:hover,
.solid.hov-btn-secondary:hover {
  background-color: #fec302;
  border-color: #fec302;
  color: #ffffff;
}
.hov-btn-dark:hover,
.solid.hov-btn-dark:hover {
  background-color: #212121;
  border-color: #212121;
  color: #ffffff;
}
.hov-btn-light:hover,
.solid.hov-btn-light:hover {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  color: #212121;
}
.hov-btn-white:hover,
.solid.hov-btn-white:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #212121;
}
/* BORDER OTHER COLORS
------------------------------------*/
.bdr-default,
.bdr-default.row-bdr,
.bdr-default.row-bdr > [class*="flex-col-"],
.bdr-default.row-sep > [class*="flex-col-"],
.bdr-default.form-control,
.bdr-default {
  border-color: #004c40;
}
.bdr-primary,
.bdr-primary.row-bdr,
.bdr-primary.row-bdr > [class*="flex-col-"],
.bdr-primary.row-sep > [class*="flex-col-"],
.bdr-primary.form-control,
.bdr-primary {
  border-color: #8285f8;
}
.bdr-secondary,
.bdr-secondary.row-bdr,
.bdr-secondary.row-bdr > [class*="flex-col-"],
.bdr-secondary.row-sep > [class*="flex-col-"],
.bdr-secondary.form-control,
.bdr-secondary {
  border-color: #fec302;
}
.bdr-dark,
.bdr-dark.row-bdr,
.bdr-dark.row-bdr > [class*="flex-col-"],
.bdr-dark.row-sep > [class*="flex-col-"],
.bdr-dark.form-control,
.bdr-dark {
  border-color: #212121;
}
.bdr-light,
.bdr-light.row-bdr,
.bdr-light.row-bdr > [class*="flex-col-"],
.bdr-light.row-sep > [class*="flex-col-"],
.bdr-light.form-control,
.bdr-light {
  border-color: #f1f1f1;
}
.bdr-white,
.bdr-white.row-bdr,
.bdr-white.row-bdr > [class*="flex-col-"],
.bdr-white.row-sep > [class*="flex-col-"],
.bdr-white.form-control,
.bdr-white {
  border-color: #ffffff;
}
/* BORDER OTHER HOVER COLORS
------------------------------------*/
.hov-bdr-default:hover,
.hov-bdr-default:hover.row-bdr,
.hov-bdr-default:hover.row-bdr > [class*="flex-col-"],
.hov-bdr-default:hover.row-sep > [class*="flex-col-"],
.hov-bdr-default:hover.form-control,
.hov-bdr-default:focus.form-control,
.hov-bdr-default:hover {
  border-color: #004c40;
}
.hov-bdr-primary:hover,
.hov-bdr-primary:hover.row-bdr,
.hov-bdr-primary:hover.row-bdr > [class*="flex-col-"],
.hov-bdr-primary:hover.row-sep > [class*="flex-col-"],
.hov-bdr-primary:hover.form-control,
.hov-bdr-primary:focus.form-control,
.hov-bdr-primary:hover {
  border-color: #8285f8;
}
.hov-bdr-secondary:hover,
.hov-bdr-secondary:hover.row-bdr,
.hov-bdr-secondary:hover.row-bdr > [class*="flex-col-"],
.hov-bdr-secondary:hover.row-sep > [class*="flex-col-"],
.hov-bdr-secondary:hover.form-control,
.hov-bdr-secondary:focus.form-control,
.hov-bdr-secondary:hover {
  border-color: #fec302;
}
.hov-bdr-dark:hover,
.hov-bdr-dark:hover.row-bdr,
.hov-bdr-dark:hover.row-bdr > [class*="flex-col-"],
.hov-bdr-dark:hover.row-sep > [class*="flex-col-"],
.hov-bdr-dark:hover.form-control,
.hov-bdr-dark:focus.form-control,
.hov-bdr-dark:hover {
  border-color: #212121;
}
.hov-bdr-light:hover,
.hov-bdr-light:hover.row-bdr,
.hov-bdr-light:hover.row-bdr > [class*="flex-col-"],
.hov-bdr-light:hover.row-sep > [class*="flex-col-"],
.hov-bdr-light:hover.form-control,
.hov-bdr-light:focus.form-control,
.hov-bdr-light:hover {
  border-color: #f1f1f1;
}
.hov-bdr-white:hover,
.hov-bdr-white:hover.row-bdr,
.hov-bdr-white:hover.row-bdr > [class*="flex-col-"],
.hov-bdr-white:hover.row-sep > [class*="flex-col-"],
.hov-bdr-white:hover.form-control,
.hov-bdr-white:focus.form-control,
.hov-bdr-white:hover {
  border-color: #ffffff;
}
/* BORDER UTILITIES
------------------------------------*/
.bdr-t-glass {
  border-top-color: transparent;
}
.bdr-r-glass {
  border-right-color: transparent;
}
.bdr-b-glass {
  border-bottom-color: transparent;
}
.bdr-l-glass {
  border-left-color: transparent;
}
.bdr-n,
.bdr-n:hover,
.bdr-n:focus {
  border: none;
}
.bdr-t-n {
  border-top: none;
}
.bdr-r-n {
  border-right: none;
}
.bdr-b-n {
  border-bottom: none;
}
.bdr-l-n {
  border-left: none;
}
[class*="btn-"].bdr-glass,
[class*="btn-"].bdr-glass:hover,
[class*="btn-"].bdr-glass:focus {
  border-color: transparent;
}
/* BORDER DARK WITH OPACITY
------------------------------------*/
.bdr-op-1,
.bdr-op-1.row-bdr,
hr.bdr-op-1,
.bdr-op-1.row-bdr > [class*="flex-col-"],
.bdr-op-1.row-sep > [class*="flex-col-"],
.bdr-op-1.form-control:hover,
.bdr-op-1.form-control:focus,
.hov-bdr-op-1:hover {
  border-color: rgba(0, 0, 0, 0.1);
}
.bdr-op-2,
.bdr-op-2.row-bdr,
hr.bdr-op-2,
.bdr-op-2.row-bdr > [class*="flex-col-"],
.bdr-op-2.row-sep > [class*="flex-col-"],
.bdr-op-2.form-control:hover,
.bdr-op-2.form-control:focus,
.hov-bdr-op-2:hover {
  border-color: rgba(0, 0, 0, 0.2);
}
.bdr-op-3,
.bdr-op-3.row-bdr,
hr.bdr-op-3,
.bdr-op-3.row-bdr > [class*="flex-col-"],
.bdr-op-3.row-sep > [class*="flex-col-"],
.bdr-op-3.form-control:hover,
.bdr-op-3.form-control:focus,
.hov-bdr-op-3:hover {
  border-color: rgba(0, 0, 0, 0.3);
}
.bdr-op-4,
.bdr-op-4.row-bdr,
hr.bdr-op-4,
.bdr-op-4.row-bdr > [class*="flex-col-"],
.bdr-op-4.row-sep > [class*="flex-col-"],
.bdr-op-4.form-control:hover,
.bdr-op-4.form-control:focus,
.hov-bdr-op-4:hover {
  border-color: rgba(0, 0, 0, 0.4);
}
.bdr-op-5,
.bdr-op-5.row-bdr,
hr.bdr-op-5,
.bdr-op-5.row-bdr > [class*="flex-col-"],
.bdr-op-5.row-sep > [class*="flex-col-"],
.bdr-op-5.form-control:hover,
.bdr-op-5.form-control:focus,
.hov-bdr-op-5:hover {
  border-color: rgba(0, 0, 0, 0.5);
}
.bdr-op-6,
.bdr-op-6.row-bdr,
hr.bdr-op-6,
.bdr-op-6.row-bdr > [class*="flex-col-"],
.bdr-op-6.row-sep > [class*="flex-col-"],
.bdr-op-6.form-control:hover,
.bdr-op-6.form-control:focus,
.hov-bdr-op-6:hover {
  border-color: rgba(0, 0, 0, 0.6);
}
.bdr-op-7,
.bdr-op-7.row-bdr,
hr.bdr-op-7,
.bdr-op-7.row-bdr > [class*="flex-col-"],
.bdr-op-7.row-sep > [class*="flex-col-"],
.bdr-op-7.form-control:hover,
.bdr-op-7.form-control:focus,
.hov-bdr-op-7:hover {
  border-color: rgba(0, 0, 0, 0.7);
}
.bdr-op-8,
.bdr-op-8.row-bdr,
hr.bdr-op-8,
.bdr-op-8.row-bdr > [class*="flex-col-"],
.bdr-op-8.row-sep > [class*="flex-col-"],
.bdr-op-8.form-control:hover,
.bdr-op-8.form-control:focus,
.hov-bdr-op-8:hover {
  border-color: rgba(0, 0, 0, 0.8);
}
.bdr-op-9,
.bdr-op-9.row-bdr,
hr.bdr-op-9,
.bdr-op-9.row-bdr > [class*="flex-col-"],
.bdr-op-9.row-sep > [class*="flex-col-"],
.bdr-op-9.form-control:hover,
.bdr-op-9.form-control:focus,
.hov-bdr-op-9:hover {
  border-color: rgba(0, 0, 0, 0.9);
}
.bdr-op-10,
.bdr-op-10.row-bdr,
hr.bdr-op-10,
.bdr-op-10.row-bdr > [class*="flex-col-"],
.bdr-op-10.row-sep > [class*="flex-col-"],
.bdr-op-10.form-control:hover,
.bdr-op-10.form-control:focus,
.hov-bdr-op-10:hover {
  border-color: #000000;
}
/* BORDER LIGHT WITH OPACITY
------------------------------------*/
.bdr-op-light-1,
.bdr-op-light-1.row-bdr,
hr.bdr-op-light-1,
.bdr-op-light-1.row-bdr > [class*="flex-col-"],
.bdr-op-light-1.row-sep > [class*="flex-col-"],
.bdr-op-light-1.form-control:hover,
.bdr-op-light-1.form-control:focus,
.hov-bdr-op-light-1:hover {
  border-color: rgba(255, 255, 255, 0.1);
}
.bdr-op-light-2,
.bdr-op-light-2.row-bdr,
hr.bdr-op-light-2,
.bdr-op-light-2.row-bdr > [class*="flex-col-"],
.bdr-op-light-2.row-sep > [class*="flex-col-"],
.bdr-op-light-2.form-control:hover,
.bdr-op-light-2.form-control:focus,
.hov-bdr-op-light-2:hover {
  border-color: rgba(255, 255, 255, 0.2);
}
.bdr-op-light-3,
.bdr-op-light-3.row-bdr,
hr.bdr-op-light-3,
.bdr-op-light-3.row-bdr > [class*="flex-col-"],
.bdr-op-light-3.row-sep > [class*="flex-col-"],
.bdr-op-light-3.form-control:hover,
.bdr-op-light-3.form-control:focus,
.hov-bdr-op-light-3:hover {
  border-color: rgba(255, 255, 255, 0.3);
}
.bdr-op-light-4,
.bdr-op-light-4.row-bdr,
hr.bdr-op-light-4,
.bdr-op-light-4.row-bdr > [class*="flex-col-"],
.bdr-op-light-4.row-sep > [class*="flex-col-"],
.bdr-op-light-4.form-control:hover,
.bdr-op-light-4.form-control:focus,
.hov-bdr-op-light-4:hover {
  border-color: rgba(255, 255, 255, 0.4);
}
.bdr-op-light-5,
.bdr-op-light-5.row-bdr,
hr.bdr-op-light-5,
.bdr-op-light-5.row-bdr > [class*="flex-col-"],
.bdr-op-light-5.row-sep > [class*="flex-col-"],
.bdr-op-light-5.form-control:hover,
.bdr-op-light-5.form-control:focus,
.hov-bdr-op-light-5:hover {
  border-color: rgba(255, 255, 255, 0.5);
}
.bdr-op-light-6,
.bdr-op-light-6.row-bdr,
hr.bdr-op-light-6,
.bdr-op-light-6.row-bdr > [class*="flex-col-"],
.bdr-op-light-6.row-sep > [class*="flex-col-"],
.bdr-op-light-6.form-control:hover,
.bdr-op-light-6.form-control:focus,
.hov-bdr-op-light-6:hover {
  border-color: rgba(255, 255, 255, 0.6);
}
.bdr-op-light-7,
.bdr-op-light-7.row-bdr,
hr.bdr-op-light-7,
.bdr-op-light-7.row-bdr > [class*="flex-col-"],
.bdr-op-light-7.row-sep > [class*="flex-col-"],
.bdr-op-light-7.form-control:hover,
.bdr-op-light-7.form-control:focus,
.hov-bdr-op-light-7:hover {
  border-color: rgba(255, 255, 255, 0.7);
}
.bdr-op-light-8,
.bdr-op-light-8.row-bdr,
hr.bdr-op-light-8,
.bdr-op-light-8.row-bdr > [class*="flex-col-"],
.bdr-op-light-8.row-sep > [class*="flex-col-"],
.bdr-op-light-8.form-control:hover,
.bdr-op-light-8.form-control:focus,
.hov-bdr-op-light-8:hover {
  border-color: rgba(255, 255, 255, 0.8);
}
.bdr-op-light-9,
.bdr-op-light-9.row-bdr,
hr.bdr-op-light-9,
.bdr-op-light-9.row-bdr > [class*="flex-col-"],
.bdr-op-light-9.row-sep > [class*="flex-col-"],
.bdr-op-light-9.form-control:hover,
.bdr-op-light-9.form-control:focus,
.hov-bdr-op-light-9:hover {
  border-color: rgba(255, 255, 255, 0.9);
}
.bdr-op-light-10,
.bdr-op-light-10.row-bdr,
hr.bdr-op-light-10,
.bdr-op-light-10.row-bdr > [class*="flex-col-"],
.bdr-op-light-10.row-sep > [class*="flex-col-"],
.bdr-op-light-10.form-control:hover,
.bdr-op-light-10.form-control:focus,
.hov-bdr-op-light-10:hover {
  border-color: #ffffff;
}
/* COMMON TYPOGRAPHY
------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
.hd-1,
.hd-2,
.hd-3,
.hd-4,
.hd-5,
.hd-6,
.title-sub {
  color: #212121;
}
/* LIGHT TYPOGRAPHY
------------------------------------*/
.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light .title:not([class*="txt-"]),
.typo-light .title-sub:not([class*="txt-"]),
.typo-light .pg-path,
.typo-light .list-3:not([class*="txt-"]),
.typo-light .typo:not([class*="txt-"]),
.typo-light p:not([class*="txt-"]) {
  color: #ffffff;
}
/* LIST CLASS
=========================*/
.dark.list-2,
.dark.list-2 li > i {
  color: #212121;
}
/* TAG TEXT
------------------------------------*/
.tag-text {
  background-color: #212121;
  color: #ffffff;
}
.tag-text.bg-white:not([class*="txt-dark"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]) {
  color: #212121;
}
.bg-dark.tag-text:not([class*="txt-"]),
.bg-default.tag-text:not([class*="txt-"]),
.bg-primary.tag-text:not([class*="txt-"]),
.bg-secondary.tag-text:not([class*="txt-"]) {
  color: #ffffff;
}
/* TEXT COLORS
------------------------------------*/
.txt-default,
.typo-light .txt-default,
.txt-default:hover {
  color: #004c40;
}
.txt-primary,
.typo-light .txt-primary,
.txt-primary:hover {
  color: #8285f8;
}
.txt-secondary,
.typo-light .txt-secondary,
.txt-secondary:hover {
  color: #fec302;
}
.txt-dark,
.typo-light .txt-dark,
.txt-dark:hover {
  color: #212121;
}
.txt-light,
.typo-light .txt-light,
.txt-light:hover {
  color: #f1f1f1;
}
.txt-white,
.typo-light .txt-white,
.txt-white:hover {
  color: #ffffff;
}
.txt-inherit {
  color: inherit;
}
/* TEXT HOVER COLORS
------------------------------------*/
.hov-txt-default:hover {
  color: #004c40;
}
.hov-txt-primary:hover {
  color: #8285f8;
}
.hov-txt-secondary:hover {
  color: #fec302;
}
.hov-txt-dark:hover {
  color: #212121;
}
.hov-txt-light:hover {
  color: #f1f1f1;
}
.hov-txt-white:hover {
  color: #ffffff;
}
/* LINKS COLORS
------------------------------------*/
.link-default,
a.link-default {
  color: #004c40;
}
.link-primary,
a.link-primary {
  color: #8285f8;
}
.link-secondary,
a.link-secondary {
  color: #fec302;
}
.link-dark,
a.link-dark {
  color: #212121;
}
.link-light,
a.link-light {
  color: #f1f1f1;
}
.link-white,
a.link-white {
  color: #ffffff;
}
/* BACKGROUND COLORS
------------------------------------*/
.bg-default {
  background-color: #004c40;
}
.bg-primary {
  background-color: #8285f8;
}
.bg-secondary {
  background-color: #fec302;
}
.bg-dark {
  background-color: #212121;
}
.bg-light {
  background-color: #f1f1f1;
}
.bg-white {
  background-color: #ffffff;
}
.bg-gray {
  background-color: #656565;
}
/* BACKGROUND HOVER COLORS
------------------------------------*/
.hov-bg-default:hover {
  background-color: #004c40;
}
.hov-bg-primary:hover {
  background-color: #8285f8;
}
.hov-bg-secondary:hover {
  background-color: #fec302;
}
.hov-bg-dark:hover {
  background-color: #212121;
}
.hov-bg-light:hover {
  background-color: #f1f1f1;
}
.hov-bg-white:hover {
  background-color: #ffffff;
}
.hov-bg-gray:hover {
  background-color: #656565;
}
.bg-glass-dark-01 {
  background-color: rgba(0, 0, 0, 0.1);
}
.bg-glass-light-01 {
  background-color: rgba(255, 255, 255, 0.1);
}
.bg-glass-dark-02 {
  background-color: rgba(0, 0, 0, 0.2);
}
.bg-glass-light-02 {
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-glass-dark-03 {
  background-color: rgba(0, 0, 0, 0.3);
}
.bg-glass-light-03 {
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-glass-dark-04 {
  background-color: rgba(0, 0, 0, 0.4);
}
.bg-glass-light-04 {
  background-color: rgba(255, 255, 255, 0.4);
}
.bg-glass-dark-05 {
  background-color: rgba(0, 0, 0, 0.5);
}
.bg-glass-light-05 {
  background-color: rgba(255, 255, 255, 0.5);
}
.bg-glass-dark-06 {
  background-color: rgba(0, 0, 0, 0.6);
}
.bg-glass-light-06 {
  background-color: rgba(255, 255, 255, 0.6);
}
.bg-glass-dark-07 {
  background-color: rgba(0, 0, 0, 0.7);
}
.bg-glass-light-07 {
  background-color: rgba(255, 255, 255, 0.7);
}
.bg-glass-dark-08 {
  background-color: rgba(0, 0, 0, 0.8);
}
.bg-glass-light-08 {
  background-color: rgba(255, 255, 255, 0.8);
}
.bg-glass-dark-09 {
  background-color: rgba(0, 0, 0, 0.9);
}
.bg-glass-light-09 {
  background-color: rgba(255, 255, 255, 0.9);
}
@media (min-width: 992px) {
  .nav-sticky {
    background-color: #ffffff;
  }
  .dark.nav-sticky {
    background-color: #212121 !important;
  }
  .bg-glass {
    background-color: transparent;
  }
}
@media (min-width: 200px) and (max-width: 991px) {
  .nav-sticky,
  .nav-wrp.navbar-fixed-top {
    background-color: #ffffff;
  }
  .nav-wrp.dark.navbar-fixed-top,
  .dark.nav-sticky {
    background-color: #212121 !important;
  }
}
.tab-style1 .tb-list > li.active.default {
  background-color: #004c40;
}
.tab-style1 .tb-list > li.active.default {
  color: #ffffff;
}
.tab-style1 .tb-list:not([class*="bdr-default"]):not([class*="bdr-primary"]):not([class*="bdr-secondary"]):not([class*="bdr-white"]):not([class*="bdr-dark"]) {
  border-color: #004c40;
}
.tab-style1 .tb-content.default {
  background-color: #004c40;
}
/*.tab-style1 {
		.@{name}.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
			border-bottom-color: @color;
			> li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
				background-color: @color;
				.tb-fcolor-mixin(@name);
			}
		}
	}
	.tab-style1.side-tab:not(.tb-r) .@{name}.tb-list {
		border-right-color: @color;
	}
	.tab-style1.tb-r .@{name}.tb-list {
		border-left-color: @color;
	}*/
.tab-style2 .default.tb-list:not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) > li.active:not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  border-color: #004c40;
  color: #ffffff;
}
.tab-style2.side-tab .default.tb-list > li.active {
  border-color: #004c40;
  color: #ffffff;
}
.tab-style3 .default.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  background-color: #004c40;
}
.tab-style3 .default.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) > li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  color: #ffffff;
}
.tab-style4 .default.tb-list > li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  background-color: #004c40;
  border-color: #004c40;
  color: #ffffff;
}
.tab-style1 .tb-list > li.active.primary {
  background-color: #8285f8;
}
.tab-style1 .tb-list > li.active.primary {
  color: #ffffff;
}
.tab-style1 .tb-list:not([class*="bdr-default"]):not([class*="bdr-primary"]):not([class*="bdr-secondary"]):not([class*="bdr-white"]):not([class*="bdr-dark"]) {
  border-color: #8285f8;
}
.tab-style1 .tb-content.primary {
  background-color: #8285f8;
}
/*.tab-style1 {
		.@{name}.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
			border-bottom-color: @color;
			> li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
				background-color: @color;
				.tb-fcolor-mixin(@name);
			}
		}
	}
	.tab-style1.side-tab:not(.tb-r) .@{name}.tb-list {
		border-right-color: @color;
	}
	.tab-style1.tb-r .@{name}.tb-list {
		border-left-color: @color;
	}*/
.tab-style2 .primary.tb-list:not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) > li.active:not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  border-color: #8285f8;
  color: #ffffff;
}
.tab-style2.side-tab .primary.tb-list > li.active {
  border-color: #8285f8;
  color: #ffffff;
}
.tab-style3 .primary.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  background-color: #8285f8;
}
.tab-style3 .primary.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) > li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  color: #ffffff;
}
.tab-style4 .primary.tb-list > li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  background-color: #8285f8;
  border-color: #8285f8;
  color: #ffffff;
}
.tab-style1 .tb-list > li.active.secondary {
  background-color: #fec302;
}
.tab-style1 .tb-list > li.active.secondary {
  color: #ffffff;
}
.tab-style1 .tb-list:not([class*="bdr-default"]):not([class*="bdr-primary"]):not([class*="bdr-secondary"]):not([class*="bdr-white"]):not([class*="bdr-dark"]) {
  border-color: #fec302;
}
.tab-style1 .tb-content.secondary {
  background-color: #fec302;
}
/*.tab-style1 {
		.@{name}.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
			border-bottom-color: @color;
			> li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
				background-color: @color;
				.tb-fcolor-mixin(@name);
			}
		}
	}
	.tab-style1.side-tab:not(.tb-r) .@{name}.tb-list {
		border-right-color: @color;
	}
	.tab-style1.tb-r .@{name}.tb-list {
		border-left-color: @color;
	}*/
.tab-style2 .secondary.tb-list:not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) > li.active:not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  border-color: #fec302;
  color: #ffffff;
}
.tab-style2.side-tab .secondary.tb-list > li.active {
  border-color: #fec302;
  color: #ffffff;
}
.tab-style3 .secondary.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  background-color: #fec302;
}
.tab-style3 .secondary.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) > li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  color: #ffffff;
}
.tab-style4 .secondary.tb-list > li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  background-color: #fec302;
  border-color: #fec302;
  color: #ffffff;
}
.tab-style1 .tb-list > li.active.dark {
  background-color: #212121;
}
.tab-style1 .tb-list > li.active.dark {
  color: #ffffff;
}
.tab-style1 .tb-list:not([class*="bdr-default"]):not([class*="bdr-primary"]):not([class*="bdr-secondary"]):not([class*="bdr-white"]):not([class*="bdr-dark"]) {
  border-color: #212121;
}
.tab-style1 .tb-content.dark {
  background-color: #212121;
}
/*.tab-style1 {
		.@{name}.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
			border-bottom-color: @color;
			> li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
				background-color: @color;
				.tb-fcolor-mixin(@name);
			}
		}
	}
	.tab-style1.side-tab:not(.tb-r) .@{name}.tb-list {
		border-right-color: @color;
	}
	.tab-style1.tb-r .@{name}.tb-list {
		border-left-color: @color;
	}*/
.tab-style2 .dark.tb-list:not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) > li.active:not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  border-color: #212121;
  color: #ffffff;
}
.tab-style2.side-tab .dark.tb-list > li.active {
  border-color: #212121;
  color: #ffffff;
}
.tab-style3 .dark.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  background-color: #212121;
}
.tab-style3 .dark.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) > li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  color: #ffffff;
}
.tab-style4 .dark.tb-list > li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  background-color: #212121;
  border-color: #212121;
  color: #ffffff;
}
.tab-style1 .tb-list > li.active.light {
  background-color: #f1f1f1;
}
.tab-style1 .tb-list > li.active.light {
  color: #ffffff;
}
.tab-style1 .tb-list:not([class*="bdr-default"]):not([class*="bdr-primary"]):not([class*="bdr-secondary"]):not([class*="bdr-white"]):not([class*="bdr-dark"]) {
  border-color: #f1f1f1;
}
.tab-style1 .tb-content.light {
  background-color: #f1f1f1;
}
/*.tab-style1 {
		.@{name}.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
			border-bottom-color: @color;
			> li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
				background-color: @color;
				.tb-fcolor-mixin(@name);
			}
		}
	}
	.tab-style1.side-tab:not(.tb-r) .@{name}.tb-list {
		border-right-color: @color;
	}
	.tab-style1.tb-r .@{name}.tb-list {
		border-left-color: @color;
	}*/
.tab-style2 .light.tb-list:not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) > li.active:not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  border-color: #f1f1f1;
  color: #ffffff;
}
.tab-style2.side-tab .light.tb-list > li.active {
  border-color: #f1f1f1;
  color: #ffffff;
}
.tab-style3 .light.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  background-color: #f1f1f1;
}
.tab-style3 .light.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) > li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  color: #ffffff;
}
.tab-style4 .light.tb-list > li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  background-color: #f1f1f1;
  border-color: #f1f1f1;
  color: #ffffff;
}
.tab-style1 .tb-list > li.active.white {
  background-color: #ffffff;
}
.tab-style1 .tb-list > li.active.white {
  color: #212121;
}
.tab-style1 .tb-list:not([class*="bdr-default"]):not([class*="bdr-primary"]):not([class*="bdr-secondary"]):not([class*="bdr-white"]):not([class*="bdr-dark"]) {
  border-color: #ffffff;
}
.tab-style1 .tb-content.white {
  background-color: #ffffff;
}
/*.tab-style1 {
		.@{name}.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
			border-bottom-color: @color;
			> li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
				background-color: @color;
				.tb-fcolor-mixin(@name);
			}
		}
	}
	.tab-style1.side-tab:not(.tb-r) .@{name}.tb-list {
		border-right-color: @color;
	}
	.tab-style1.tb-r .@{name}.tb-list {
		border-left-color: @color;
	}*/
.tab-style2 .white.tb-list:not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) > li.active:not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  border-color: #ffffff;
  color: #212121;
}
.tab-style2.side-tab .white.tb-list > li.active {
  border-color: #ffffff;
  color: #212121;
}
.tab-style3 .white.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  background-color: #ffffff;
}
.tab-style3 .white.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) > li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  color: #212121;
}
.tab-style4 .white.tb-list > li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #212121;
}
.tab-style1 .tb-list > li.active.gray {
  background-color: #656565;
}
.tab-style1 .tb-list > li.active.gray {
  color: #212121;
}
.tab-style1 .tb-list:not([class*="bdr-default"]):not([class*="bdr-primary"]):not([class*="bdr-secondary"]):not([class*="bdr-white"]):not([class*="bdr-dark"]) {
  border-color: #656565;
}
.tab-style1 .tb-content.gray {
  background-color: #656565;
}
/*.tab-style1 {
		.@{name}.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
			border-bottom-color: @color;
			> li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
				background-color: @color;
				.tb-fcolor-mixin(@name);
			}
		}
	}
	.tab-style1.side-tab:not(.tb-r) .@{name}.tb-list {
		border-right-color: @color;
	}
	.tab-style1.tb-r .@{name}.tb-list {
		border-left-color: @color;
	}*/
.tab-style2 .gray.tb-list:not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) > li.active:not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  border-color: #656565;
  color: #212121;
}
.tab-style2.side-tab .gray.tb-list > li.active {
  border-color: #656565;
  color: #212121;
}
.tab-style3 .gray.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  background-color: #656565;
}
.tab-style3 .gray.tb-list:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) > li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  color: #212121;
}
.tab-style4 .gray.tb-list > li.active:not([class*="bg-"]):not([class*="txt-default"]):not([class*="txt-primary"]):not([class*="txt-secondary"]):not([class*="txt-white"]) {
  background-color: #656565;
  border-color: #656565;
  color: #212121;
}
